<!DOCTYPE html>
{%load staticfiles%}
<html>
<head>
    <style>
     body{
     background:url(https://images.unsplash.com/photo-1455380579765-810023662ea2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
     background-repeat: no repeat;
     background-size: cover;
     }
     h1{
     align: 'center';
     color: white;
     font-size: 40px;
     font-family: Lucida Sans Unicode;
     }
     h2{
     margin-top: 500px;
     }
     a{
     color: blue;
     font-size: 40px;
     }
    </style>
</head>
<body>
  <h2> </h2>
  <h1>Sorry! Invalid UserId or Password!</h1>
  <p><a href="http://127.0.0.1:8000/">TRY AGAIN</a>
  <p><a href="https://www.irctc.co.in/eticketing/userSignUp.jsf">GET IRCTC ACCOUNT</a>
</body>
</html>